<% if params[:archive] %>
  <section>
    <table>
      <% @articles.each do |article| %>
        <tr>
          <td><%= link_to article.title, article_path(article) %></td>
          <td class='nowrap top-align'><%= render_timestamp(article.created_at) %></td>
        </tr>
      <% end %>
    </table>
    <footer>
      <%= paginate @articles %>
    </footer>
  </section>
<% else %>
  <% @articles.each do |article| %>
    <article>
      <%= render "article", article: article %>
      <a href="<%= article_url(article) + "#disqus_thread" %>"></a>
    </article>
  <% end %>
<% end %>
